<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Booking</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <h1>Add New Booking</h1>

    <div th:if="${success}" style="color: green;">
        <p th:text="${success}"></p>
    </div>

    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>

    <form action="/add" method="post">
        <label for="roomId">Room ID:</label><br/>
        <input type="text" id="roomId" name="roomId" required/><br/><br/>

        <label for="roomType">Room Type:</label><br/>
        <input type="text" id="roomType" name="roomType" required/><br/><br/>

        <label for="roomPrice">Room Price:</label><br/>
        <input type="text" id="roomPrice" name="roomPrice" required/><br/><br/>

        <label for="availability">Availability:</label><br/>
        <input type="text" id="availability" name="availability" required/><br/><br/>

        <button type="submit">Add Booking</button>
    </form>
        
        
    <br/>
    <a href="/">Back to Home</a>
</body>
</html>
